{% extends "../base.html" %}
{% load custom_tags %}

{% block head %}
{{ block.super }}
<style>
    h1 {
        color: blue
    }
</style>
{% endblock %}

{% block title %}
    Comments List
{% endblock %}

{% block content %}
    {% registers_number comments.paginator %}
    <h1>All comments</h1>
    <a href="{% url 'comments:add'  %}">New comment</a>

    {% for comment in comments %}
        <p> {{ comment.text }} </p>
        <hr>
        <p> {{ comment.posted|date:"D d M Y" }} </p> {# el | se usa para declarar filtros (date para este caso particular) #}
    <a href="{% url 'comments:update' comment.id  %}">Edit</a>
    <form action="{% url 'comments:delete' comment.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    {% endfor %}

    {% include "partials/pagination.html" with page_obj=comments %}

{% endblock %}