{% extends "../base.html" %}
{% block content %}

    {% include "partials/errors-form.html" %}

    <form method="POST">
        {% csrf_token %}

        {{ form.title.label }}
        {{ form.title }}
        {{ form.slug.label }}
        {{ form.slug }}
        <br>
        {{ form.price.label }}
        {{ form.price }}
        {{ form.type.label }}
        {{ form.type }}
        {{ form.category.label }}
        {{ form.category }}
        <br>
        {{ form.description.label }}
        {{ form.description }}

        <input type="submit" value="Save">
    </form>
{% endblock %}