{% extends "../base.html" %}
{% block content %}
    <h1>All elements</h1>
    <a href="{% url 'element:add'  %}">New Element</a>

    <table>
        <tr>
<!--            <th>Forloop</th>-->
            <th>Title</th>
            <th>Category</th>
            <th>Type</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% for element in elements %}
            <tr>
<!--                <td>{{ forloop.first }}</td>-->
<!--                <td>{{ forloop.last }}</td>-->
                <td>{{ element.title }}</td>
                <td>{{ element.category }}</td>
                <td>{{ element.type }}</td>
                <td>{{ element.price }}</td>
                <td></td>
            </tr>
    <!--    <a href="{ % url 'elements:update' element.id  %}">Edit</a>-->
    <!--    <form action="{ % url 'elements:delete' element.id %}" method="POST">-->
    <!--        { % csrf_token %}-->
    <!--        <input type="submit" value="Delete">-->
    <!--    </form>-->
        {% endfor %}
    </table>
    {% include "partials/pagination.html" with page_obj=elements %}
{% endblock %}